.header__link {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.header__link:hover {
    transition: opacity linear 0.2s;
    opacity: 0.6;
}